<div class="background-authentication">

    <div class="card-container">
        <div class="card-authentication">

            <div data-text=@LastWord class="title-authentication @CustomCssClass">
                @Title
            </div>

            <div class="subtitle-authentication">
                @Subtitle
            </div>

            @ContentPage

        </div>
    </div>

</div>