<div class="container-menu">

    <div class="menu">

        <div class="menu-box">
            <a href=@AppConst.OtherPagesUrlConst.HomePage>
                <img src=@AssetsConst.IconsConst.Home>
            </a>
        </div>

        <div class="menu-box">
            <a href=@AppConst.OtherPagesUrlConst.OtherMenuPage>
                <img src=@AssetsConst.IconsConst.OtherMenu>
            </a>
        </div>

        <div class="menu-box">
            <div>
                <img src=@AssetsConst.IconsConst.Notification>
            </div>
        </div>

        <div class="menu-box">
            <div>
                <img src=@AssetsConst.IconsConst.Settings>
            </div>
        </div>

        <div class="menu-box">
            <a class="logout-button" @onclick=@(() => Logout())>
                <img src=@AssetsConst.IconsConst.User>
            </a>
        </div>

    </div>

</div>