<div class="other-button">

    <a href=@Url>
        <div class="button-image">

            <div class="arrow-right-diagonal">
                <img src=@AssetsConst.IconsConst.ArrowRightDiagonal>
            </div>

            <div class="content-other-button">
                <p>
                    @ConstEN.OtherButtonTitle_1
                    <br />
                    @ConstEN.OtherButtonTitle_2
                </p>
            </div>

        </div>
    </a>

</div>