.content-search-bar {
    padding: 24px 25px 0 25px;
}

.content-search-bar-flow {
    padding: 5px 0 5px 0;
}

.search-filter {
    border: 1px solid black;
    border-radius: 6px;
    width: 100%;
    font-family: 'Caecilia Com 55 Roman', sans-serif;
    font-size: 16px;
    fill: #EDF1F3;
    display: flex;
    justify-content: space-between;
    background-color: #EDF1F3;
    border-style: none;
    padding: 12px 16px 12px 16px;
}

.search-filter-input {
    width: 10px;
    align-self: center;
}

.input-filter {
    border: none;
    outline: none;
    background-color: transparent;
    color: #BBBBBB;
}
