.content-room-services {
    padding: 26px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: #BBBBBB;
    border-bottom-width: 0.5px;
    margin: 0 25px;
}

.room-services {
    background-repeat: no-repeat;
    background-position: center;
    border: 1px #0B1F2F solid;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 25px;
    background-size: 24px 24px;
}