.background-index {
    background-image: url('assets/images/style_page/background.jpg');
    background-size: cover;
    height: 650px;
    height: calc(100vh - 211px);
}

.content-index {
    font-family: 'Caecilia Com 55 Roman', sans-serif;
    font-size: 32px;
    padding: 40px 25px 40px 25px;
    line-height: 1.2;
}

.logo {
    filter: invert(1);
    padding: 25px 0 0 25px;
}
